[Unit]
Description=IPFS Tika daemon
Requires=ipfs.service
After=ipfs.service

[Service]
ExecStart=/usr/bin/java -Xmx3072m -jar /usr/local/libexec/{{ ipfs_tika_jar }}
User=ipfs-tika
Group=ipfs-tika
MemoryAccounting=yes
MemoryLimit=4096M
Nice=10
Restart=on-failure

[Install]
WantedBy=default.target
