[Unit]
Description=IPFS Tika daemon
Requires=ipfs.service
After=ipfs.service

[Service]
ExecStart=/usr/bin/java -Xmx256m -jar /usr/local/libexec/ipfs-tika-0.1-jar-with-dependencies.jar
Restart=on-failure
User=ipfs-tika
Group=ipfs-tika

[Install]
WantedBy=default.target
