# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 100
end_of_line = lf

[{Makefile,go.mod,go.sum,*.go,.gitmodules}]
indent_style = tab
indent_size = 2

[*.rst]
indent_size = 3

[*.md]
indent_size = 4
