[Unit]
Description=ipfs-search sniffer
Requires=rabbitmq-server.service
After=rabbitmq-server.service

[Service]
WorkingDirectory={{ sniffer_home }}
ExecStart={{ sniffer_binary }} -nheads={{ sniffer_heads }} -pstore hydra-peerstore -bootstrap-peers "/ip4/127.0.0.1/tcp/4001/p2p/{{ ipfs_peerid }}" -disable-prefetch
Restart=always
RestartSec=3
StartLimitBurst=40
StartLimitInterval=120
User=ipfs-sniffer
Group=ipfs-sniffer
ProtectHome=true
ProtectSystem=true
PrivateDevices=true
PrivateTmp=true
LimitNOFILE=65536
MemoryAccounting=yes
MemoryLimit={{ sniffer_memlimit }}

[Install]
WantedBy=default.target
