[Unit]
Description=ipfs search api
Requires=elasticsearch.service
After=elasticsearch.service

[Service]
WorkingDirectory={{ api_install_path }}/search
ExecStart=/usr/bin/npm start
Restart=on-failure
User=ipfs-search
Group=ipfs-search

[Install]
WantedBy=default.target
