[defaults]
transport=ssh
inventory = inventory.yml
vault_password_file = vault/decrypt_passphrase.sh
strategy_plugins = mitogen-0.2.9/ansible_mitogen/plugins/strategy
strategy = mitogen_linear

[ssh_connection]
pipelining=True
sh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentication=publickey

