[Unit]
Description=ipfs-search crawler daemon
Requires=elasticsearch.service rabbitmq-server.service ipfs.service ipfs-tika.service
After=elasticsearch.service rabbitmq-server.service ipfs.service ipfs-tika.service

[Service]
ExecStart=/usr/local/bin/ipfs-search -c /etc/ipfs-crawler/config.yml crawl
Restart=on-failure
User=ipfs-crawler
Group=ipfs-crawler
DevicePolicy=closed
DeviceAllow=/dev/fuse
# Some or all of these give problems with fuse
ProtectHome=true
ProtectSystem=true
PrivateDevices=true
PrivateTmp=true
MemoryAccounting=yes
MemoryLimit=1024M
# As yet unsupported security options
#ControlGroupAttribute=memory.swappiness 1
#PrivateUser=true
#ReadOnlyPaths=*
#ReadWritePaths={{ ipfs_path }}
#MemoryMax=512M

[Install]
WantedBy=default.target
