[Unit]
Description=IPFS daemon

[Service]
ExecStart={{ ipfs_binary }} daemon --manage-fdlimit --migrate
PermissionsStartOnly=true
ExecStartPost=/bin/bash -c "echo 0 > /sys/fs/cgroup/memory/system.slice/ipfs.service/memory.swappiness"
Restart=always
RestartSec=3
StartLimitBurst=40
StartLimitIntervalSec=120
User={{ ipfs_user }}
Group={{ ipfs_group }}
Environment="IPFS_PATH={{ ipfs_path }}"
DevicePolicy=closed
DeviceAllow=/dev/fuse
# Some or all of these give problems with fuse
#ProtectHome=true
#ProtectSystem=true
#PrivateDevices=true
#PrivateTmp=true
MemoryAccounting=yes
MemoryLimit={{ ipfs_memlimit }}
# As yet unsupported security options
#PrivateUser=true
#ReadOnlyPaths=*
#ReadWritePaths={{ ipfs_path }}
#MemoryMax=512M
LimitNOFILE=65536
Nice=10

[Install]
WantedBy=default.target
