[Unit]
Description=IPFS Tika daemon
Requires=ipfs.service
After=ipfs.service

[Service]
ExecStart=/usr/bin/java -Xmx{{ ipfs_tika_heap_max }} -jar /usr/local/libexec/{{ ipfs_tika_jar }}
User=ipfs-tika
Group=ipfs-tika
MemoryAccounting=yes
MemoryLimit=4096M
Nice=10
Restart=always
Environment=IPFS_TIKA_LISTEN_PORT=8231

[Install]
WantedBy=default.target
