[Unit]
Description=ipfs-search crawler daemon
Requires=elasticsearch.service rabbitmq-server.service
After=elasticsearch.service rabbitmq-server.service

[Service]
ExecStart=/usr/local/bin/ipfs-search c
Restart=on-failure
User=ipfs-search-crawler
Group=ipfs-search-crawler
DevicePolicy=closed
DeviceAllow=/dev/fuse
# Some or all of these give problems with fuse
ProtectHome=true
ProtectSystem=true
PrivateDevices=true
PrivateTmp=true
MemoryAccounting=yes
MemoryLimit=512M
# As yet unsupported security options
#ControlGroupAttribute=memory.swappiness 1
#PrivateUser=true
#ReadOnlyPaths=*
#ReadWritePaths={{ ipfs_path }}
#MemoryMax=512M

[Install]
WantedBy=default.target
